@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Futura';
    src: url('/homedecor/public/fonts/futura/futura\ medium\ bt.ttf') format('woff2'),
         url('/homedecor/public/fonts/futura/futur.ttf') format('woff'),
         url('/homedecor/public/fonts/futura/Futura-CondensedLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }